body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  -webkit-user-select: none !important;
}

h1, h4 {
  text-align: center;
}

h4 {
  padding: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 !important;
}

#main {
  margin-bottom: 1em;
}

.toggle {
  border: 2px solid black;
  border-radius: 5px;
}

#board {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid black;
}

#board > li {
}

.row {
  display: flex;
}

.row > li {
  display: inline-block;
  padding: 1px;
}

.square-inner {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.clicked {
  background-color: #ffd;
  border: 1px solid #ddd;
}

.unclicked {
  background-color: #ddd;
  border: 0px solid white;
}

.alert-animation-item {
  font-size: 300%;
  position: absolute;
  animation-name: alertAnimation;
  animation-duration: 10s;
}

/* Standard syntax */
@keyframes alertAnimation {
    0%   {}
    100% {top: 400vh; display: none;}
}
