* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  /*text-align: center;*/
}

h4.label {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  /*color: black !important;*/
  padding: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 !important;
}

#main {
  margin-bottom: 1em;
}

.instructions {
  text-align: left;
  margin: .5em auto 1em;
  padding: 5px 15px;
  background: rgba(255, 255, 255, .9);
  border-radius: 5px;
  max-width: 500px;
}

#game-container {
  margin: 0 auto;
  display: inline-block;
  position: relative;
}

#board_container {
  margin-top: 80px;
}

#board {
  display: inline-block;
  margin: 0 auto;
  /* background:radial-gradient(ellipse at center, rgba(247,234,178,1) 66%, rgba(248,234,179,0) 100%); */
}

#board > li {
}

.row {
  display: flex;
}

.row > li {
  display: inline-block;
  padding: 1px;
}

.square-inner {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #ccccdf;
  border: 1px solid #66a;
}

.clicked {
  background-color: #ddd;
  border: 1px solid #333;
}

.mine-triggered {
  background-color: #fcc;
}

.mine-flagged {
  background-color: #cfc;
}

@media (max-width: 500px) {
  h1 {
    margin-top: 80px;
  }
}
